{% extends 'base.html' %}
{% load code_tags %}
{% load static %}
{% block body %}
    {% include 'navbar.html' %}
<div class="relative bg-white pt-16 pb-32 overflow-hidden">

    <div class="bg-white">
      <div class="max-w-7xl mx-auto pb-16 px-4 sm:pb-24 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-base font-semibold text-maincolor-600 tracking-wide uppercase">Features</h2>
          <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Data Dashboard</p>
          <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
              Signed-in users can record Feedings, Sleep periods, and Poops so you can easily remember how the day
              is going and plan for what's next.
          </p>
        </div>
      </div>
    </div>

  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-maincolor-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Share your baby's progress with your group
            </h2>
            <p class="mt-4 text-lg text-gray-500">
              Woke up a little early today? Might need a longer nap. Hasn't pooped in 72 hours? Keep an eye on that
                diaper and avoid a blowout! Aid communication with the data dashboard.
            </p>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-base text-gray-500">
                &ldquo;I like how I can view the dashboard both on my desktop and my iPhone, where updates from either
                  device or another user instantly update on all devices.&rdquo;
              </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full" src="{% include 'people/austin.html' %}" alt="">
                </div>
                <div class="text-base font-medium text-gray-700">
                  Austin Grelle, Owlkins developer & parent
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
               src="{% static 'images/screenshots/data/data_dashboard_1.jpeg' %}"
               alt="Main dashboard view">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-maincolor-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 5.636a9 9 0 010 12.728m0 0l-2.829-2.829m2.829 2.829L21 21M15.536 8.464a5 5 0 010 7.072m0 0l-2.829-2.829m-4.243 2.829a4.978 4.978 0 01-1.414-2.83m-1.414 5.658a9 9 0 01-2.167-9.238m7.824 2.167a1 1 0 111.414 1.414m-1.414-1.414L3 3m8.293 8.293l1.414 1.414" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Remove worries about what happens with your data
            </h2>
            <p class="mt-4 text-lg text-gray-500">
              We're all heard the modern adage <i>&ldquo;If if's free, then you're the product!&rdquo;</i>. When you
                are running the site and control all ingress and egress you don't have to worry about who is using
                your data for what.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
               src="{% static 'images/screenshots/data/poop_modal.jpeg' %}" alt="Input form for poop">
        </div>
      </div>
    </div>
  </div>


  <div class="relative mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-maincolor-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Get the big picture
            </h2>
            <p class="mt-4 text-lg text-gray-500">
              Easily view graphs that show day-over-day totals and binned time-of-day histograms.
            </p>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-base text-gray-500">
                &ldquo;When our daughter was younger and "set her own schedule", it was easy to see patterns
                  in the data.&rdquo;
              </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full" src="{% include 'people/austin.html' %}" alt="">
                </div>
                <div class="text-base font-medium text-gray-700">
                  Austin Grelle, Owlkins developer & parent
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
               src="{% static 'images/screenshots/data/feeding_trending.jpeg' %}" alt="Trending view of Feedings">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 sm:py-32 sm:px-2 lg:px-4">
    <div class="max-w-2xl mx-auto px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="font-semibold text-gray-500">More info</h2>
        <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Additional Screenshots </p>
        <p class="mt-4 text-gray-500">Here's a few additional screenshots of the Data Dashboard feature.</p>
      </div>

      <div class="space-y-16 pt-10 mt-10 border-t border-gray-200 sm:pt-16 sm:mt-16">
        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Sleep Input Form</h3>
            <p class="mt-2 text-sm text-gray-500">Here's what the modal that houses the Sleep Input Form looks like.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg text-center overflow-hidden">
              <img src="{% static 'images/screenshots/data/sleep_modal.jpeg' %}"
                   alt="Sample photo dashboard with blurred images." class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Feeding Input Form</h3>
            <p class="mt-2 text-sm text-gray-500">Here's what the modal that houses the Feeding Input Form looks like.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg text-center overflow-hidden">
              <img src="{% static 'images/screenshots/data/feeding_modal.jpeg' %}"
                   alt="Photo Dashboard Filter Sort">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Binned Feedings</h3>
            <p class="mt-2 text-sm text-gray-500">In addition to trending, Owlkins will show binned feedings
            which give a picture of how close feedings are distributed to certain times in a day.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/data/feedings_binned.jpeg' %}"
                   alt="Photo Upload page" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Sleep Trending</h3>
            <p class="mt-2 text-sm text-gray-500">Easy see total sleep separated by "overnight" and "nap" classifications
            with a trendline for the total for the day.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/data/sleep_trending.jpeg' %}"
                   alt="Create A User page" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Poop Trending</h3>
            <p class="mt-2 text-sm text-gray-500">Every parent wants to avoid a blowout. Track poop trending
            and see where you have blowouts to scheme up ways to avoid another.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/data/poop_trending.jpeg' %}"
                   alt="Create A User page" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Poop Times Binned</h3>
            <p class="mt-2 text-sm text-gray-500">Speaking of avoiding blowouts, checking when poops historically
            happen within a day can help you start to "predict" when the next one might be coming.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/data/poop_binned.jpeg' %}"
                   alt="Create A User page" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Log in</h3>
            <p class="mt-2 text-sm text-gray-500">Before a user can view the Data Dashboard, they will have to log in.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/login_to_continue.jpeg' %}"
                   alt="Create A User page" class="object-center object-cover">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}