{% extends 'base.html' %}
{% load code_tags %}
{% load static %}
{% block body %}
    {% include 'navbar.html' %}
<div class="relative bg-white pt-16 pb-32 overflow-hidden">

    <div class="bg-white">
      <div class="max-w-7xl mx-auto pb-16 px-4 sm:pb-24 sm:px-6 lg:px-8">
        <div class="text-center">
          <h2 class="text-base font-semibold text-maincolor-600 tracking-wide uppercase">Features</h2>
          <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Photos</p>
          <p class="max-w-xl mt-5 mx-auto text-xl text-gray-500">
              Privately share photos and videos with a geographically dispersed audience.
          </p>
        </div>
      </div>
    </div>

  <div class="relative">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-maincolor-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 11c0 3.517-1.009 6.799-2.753 9.571m-3.44-2.04l.054-.09A13.916 13.916 0 008 11a4 4 0 118 0c0 1.017-.07 2.019-.203 3m-2.118 6.844A21.88 21.88 0 0015.171 17m3.839 1.132c.645-2.266.99-4.659.99-7.132A8 8 0 008 4.07M3 15.364c.64-1.319 1-2.8 1-4.364 0-1.457.39-2.823 1.07-4" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Privacy focused
            </h2>
            <p class="mt-4 text-lg text-gray-500">
                No matter how "online" you are, you've heard about privacy issues with the large social firms. Prevent
                your photos from being training fodder for the metaverse or your favorite moment being stolen as a "NFT".
            </p>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-base text-gray-500">
                &ldquo;My daughter will be able to choose when and how much she shares online on her own terms.&rdquo;
              </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full" src="{% include 'people/austin.html' %}" alt="">
                </div>
                <div class="text-base font-medium text-gray-700">
                  Austin Grelle, Owlkins developer & parent
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
               src="{% static 'images/screenshots/photos/photo_forbidden.jpeg' %}" alt="Privacy Focused Photo">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-maincolor-600">
              <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Daily email digests
            </h2>
            <p class="mt-4 text-lg text-gray-500">
              In lieu of notifications or a timeline alerting your parents to a new photo, you can configure your system
                to send out a daily digest after new content is available.
            </p>
            <p class="mt-4 text-lg text-gray-500">
              Some users may not know or remember your actual server address as they get used to clicking links in the
                emails!
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
               src="{% static 'images/screenshots/photos/sample_email.jpeg' %}" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>


  <div class="relative mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div>
            <span class="h-12 w-12 rounded-md flex items-center justify-center bg-maincolor-600">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15a4 4 0 004 4h9a5 5 0 10-.1-9.999 5.002 5.002 0 10-9.78 2.096A4.001 4.001 0 003 15z" />
              </svg>
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
              Web based
            </h2>
            <p class="mt-4 text-lg text-gray-500">
              Native apps unquestionably perform "better", but being able to easily view photos and play videos from
                any device with a browser opens up your audience to whomever you want to invite.
            </p>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-6">
          <blockquote>
            <div>
              <p class="text-base text-gray-500">
                &ldquo;Not all of your relatives or friends will have the latest phone, but as long as they
                  have access to a browser they can participate.&rdquo;
              </p>
            </div>
            <footer class="mt-3">
              <div class="flex items-center space-x-3">
                <div class="flex-shrink-0">
                  <img class="h-6 w-6 rounded-full" src="{% include 'people/austin.html' %}" alt="">
                </div>
                <div class="text-base font-medium text-gray-700">
                  Austin Grelle, Owlkins developer & parent
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
               src="{% static 'images/screenshots/photos/photo_example3.jpeg' %}" alt="Photo Viewer Detail">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 sm:py-32 sm:px-2 lg:px-4">
    <div class="max-w-2xl mx-auto px-4 lg:max-w-none">
      <div class="max-w-3xl">
        <h2 class="font-semibold text-gray-500">More info</h2>
        <p class="mt-2 text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Additional Screenshots </p>
        <p class="mt-4 text-gray-500">Here's a few additional screenshots of the Photos feature.</p>
      </div>

      <div class="space-y-16 pt-10 mt-10 border-t border-gray-200 sm:pt-16 sm:mt-16">
        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Main screen</h3>
            <p class="mt-2 text-sm text-gray-500">Thumbnails are displayed in the main view so the page is lightweight
            and quick to load. The full image is loaded in Photoswipe when an image or video is selected, like
            shown above in the "Web Based" screenshot.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/photos/photo_dashboard1.jpeg' %}"
                   alt="Sample photo dashboard with blurred images." class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Filter and Sort</h3>
            <p class="mt-2 text-sm text-gray-500">As you get more photos from family and friends, you may at times
            choose to filter to a specific user or filter on only New items. By default, the photos are listed by
            "Creation Time", where Owlkins tries to parse the Created Time from a photo or video's metadata. You can
            also choose to sort by the Uploaded Time instead.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/photos/photo_dashboard_filter_sort.jpeg' %}"
                   alt="Photo Dashboard Filter Sort" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Upload Photos</h3>
            <p class="mt-2 text-sm text-gray-500">You can upload photos from any device, be it direct from your phone
            as soon as the action happens or later from your desktop if that suits your workflow.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/photos/photo_upload.jpeg' %}"
                   alt="Photo Upload page" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Create New Users</h3>
            <p class="mt-2 text-sm text-gray-500">Users can't join on their own, helping keep your site secure and private
            just to your friends and family. Use the Create User form to add a new user.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/photos/create_a_user.jpeg' %}"
                   alt="Create A User page" class="object-center object-cover">
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:grid lg:grid-cols-12 lg:gap-x-8 lg:items-center">
          <div class="mt-6 lg:mt-0 lg:col-span-5 xl:col-span-4">
            <h3 class="text-lg font-medium text-gray-900">Log in</h3>
            <p class="mt-2 text-sm text-gray-500">Before a user can view the Photos page, they will have to log in.</p>
          </div>
          <div class="flex-auto lg:col-span-7 xl:col-span-8">
            <div class="rounded-lg bg-gray-100 overflow-hidden">
              <img src="{% static 'images/screenshots/login_to_continue.jpeg' %}"
                   alt="Create A User page" class="object-center object-cover">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}