{% extends 'base.html' %}
{% load code_tags %}
{% load static %}
{% block body %}
    {% include 'navbar.html' %}

<div class="relative bg-gray-50 pt-16 overflow-hidden">
  <div class="mx-auto max-w-md px-4 text-center sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
          <h2 class="text-base font-semibold text-maincolor-600 tracking-wide uppercase">Features</h2>
          <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Registry</p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        Some sites offer a discount on items in a registry, but maybe one site doesn't have everything on your
                list. You can include links to any item and consolidate for your audience.
      </p>
    </div>
    <div class="mt-12 -mb-10 sm:-mb-24 lg:-mb-80">
      <img class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5"
           src="{% static 'images/screenshots/registry/registry_main.jpeg' %}" alt="">
    </div>
  </div>
</div>
{% endblock %}