{% extends 'base.html' %}
{% load code_tags %}
{% load static %}
{% block body %}
    {% include 'navbar.html' %}
    <div class="pt-16 bg-gray-50 overflow-hidden">
  <div class="max-w-7xl mx-auto px-4 space-y-8 sm:px-6 lg:px-8">
    <div class="text-base max-w-prose mx-auto lg:max-w-none">
      <h2 class="text-base text-maincolor-600 font-semibold tracking-wide uppercase">About</h2>
      <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Owlkins</p>
    </div>
    <div class="relative z-10 text-base max-w-prose mx-auto lg:max-w-5xl lg:mx-0 lg:pr-72">
      <p class="text-lg text-gray-500">After our daughter Claire was born, my wife and I
          became suddenly gifted with an array of vigilant instincts as many can attest to
          <a target="_blank" href="http://www.paulgraham.com/kids.html" style="text-decoration:underline">including
          Paul Graham</a>. These days though, protection of your kids doesn't stop at the crosswalk but
          spills into the safety and security of their information online. </p>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-start">
      <div class="relative z-10">
        <div class="prose prose-maincolor text-gray-500 mx-auto lg:max-w-none">
            <p>Growing up a part of the infamous millennial cohort, most of our information that predated our 18th
                birthday wasn't persisted digitally in some corporation's database. “Free” social media platforms
                didn’t become available until late in high school or afterwards, a point in adolescence where
                you can better weigh the impacts of your decisions.<sup>1</sup>
            <br>
                <small><sup>1</sup><i>Humorously glossing over the impact of peer pressure for the scope of this discussion</i></small>
            </p>
            <p>
                Claire’s reality is very much different; born during a worldwide pandemic where "zoom" morphed from the
                sound her toy car makes to a verb concerning your co-worker's judgement of your bookshelf background,
                it's a different world for how information is shared and the lasting impacts that can make.</p>

            <p>When holding newborn Claire for the first time, all of only 5 pounds and 3 ounces of her, the most acute
                sensation I can recall was the urge to protect her from anything and everything. That was when we
                quickly realized that there might be something to learn from the main storyline in the third season
                of Westworld (which was airing right around Claire’s birth); making conscious choices about protecting
                personal data can pay off. Forced into in a future full of uncertainty with how the use of this data
                will evolve, the costs of <i>oversharing</i> in the present can't yet be measured.</p>

        </div>
      </div>
        {% include 'info/about/blockquote.html' with top=True %}
    </div>
  </div>
</div>
<div class="pb-16 xl:pb-36 px-2 pt-4 lg:pt-0 bg-gray-50 overflow-hidden">
  <div class="max-w-max lg:max-w-7xl mx-auto">
    <div class="relative px-2">
      <svg class="hidden md:block absolute top-0 right-0 -mt-20 -mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
        <defs>
          <pattern id="95e8f2de-6d30-4b7e-8159-f791729db21b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#95e8f2de-6d30-4b7e-8159-f791729db21b)" />
      </svg>
      <svg class="hidden md:block absolute bottom-0 left-0 -mb-20 -ml-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
        <defs>
          <pattern id="7a00fe67-0343-4a3c-8e81-c145097a3ce0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#7a00fe67-0343-4a3c-8e81-c145097a3ce0)" />
      </svg>
      <div class="relative md:p-6 sm:pt-6">
        <div class="lg:grid lg:grid-cols-2 lg:gap-6">
          <div class="prose prose-maincolor mx-auto text-gray-500 lg:max-w-none">
            <p>Realizing that there is a fine social line between the urge to wrap ourselves in our tin cocoons
                and still keep up with the digital sharing demands of modern families, we decided that our already
                tight circle of extended family and friends (all of them on COVID lockdowns with precluded ability
                to meet Claire anytime soon) deserved to have access to the one redeeming factor of the
                internet: on-demand access to photo and video content of our daughter’s progress. Still, we
                wanted to reserve the choice of sharing Claire's information on social media platforms for her to make
                later in her life. Who are we to predict where the big social media companies will take the space
                in her lifetime and what impact over-sharing before she could even understand or, let alone, consent
                to it, could have on her later in life.</p>

      <h2>That is how the idea of Owlkins was conceived.</h2>

      <p>The name Owlkins comes from what Claire’s mom decided would be her favorite animal--an owl. Put that
          together with Claire’s self soothing method of choice--her "thumbkin", and you’ve got Owlkins! The plural
          implies our hope of the platform’s use by multiple families for their kiddos.</p>

      <p>The function of Owlkins began as a simple site for us to host a baby registry. Following the birth of Claire,
          the site grew with a renewed focus on sharing pictures and videos with family. From there, Owlkins expanded
          to also serve as a centralized repository for daily data tracking, dubbed as Claire’s Progress (the "data
          dashboard"). The need for this latter part became apparent after we decided to enlist the help of others
          in Claire’s childcare, including hiring a nanny. This use case drove much of the UX design concepts as
          well.</p>

          </div>
          <div class="mt-6 prose prose-maincolor text-gray-500 lg:mt-0">

      <p>The benefits of the data dashboard feature turned out to be great. For one, the nanny needs to use nothing other
          than her phone to quickly and efficiently log information about Claire’s activities throughout the day.
          She can also see the current status at the time of handoff of Claire much easier than asking us (e.g.,
          what time did she wake up and whether or not she has had breakfast). The parents can get real-time updates
          as the nanny had time to enter information on Claire’s activities from anywhere with an internet connection.
          Other benefits of tracking the data in this way included the ability to quickly provide her paediatrician
          with rather accurate information and trending graphs when describing how she's progressing.</p>

      <p>Most importantly, with a basic understanding of information security, all of this data, while easily
          accessible to authorized users, has been kept rather private. No need to download a “free” app to handle your
          data for you at a cost buried in their privacy policy.</p>

      <p>We have internalized all the costs, and so far, we feel that these costs are well justified. Moreover,
          they are minimal. To run Owlkins, we designed it such that the user pays for hosting and serving content,
          which depending on your setup is pretty minimal. When we started out, it was between $1 to $10 per month in
          CloudFront costs, but
          <a href="https://aws.amazon.com/blogs/aws/aws-free-tier-data-transfer-expansion-100-gb-from-regions-and-1-tb-from-amazon-cloudfront-per-month/">
          now free</a> due to an increase in the free tier data transfer (up to the first 1TB) which should cover
          most Owlkins users. In terms of storing the photos and videos on S3, costs depend on
          your total storage (likely less than $1 per month for quite awhile). These costs don't account for hosting,
          which you might be able to do on some old hardware you have at home, or you could rent a VM from one of the
          cloud providers for a bit mroe per month. While not nothing, we feel the cost is well worth it compared
          to the unknown costs of other "free" services.</p>

      <p>We have developed Owlkins to the best of our ability trying to optimize it as much as we can. Much of
          the input we’ve received has been from our users (family and friends). By open-sourcing it, we
          hope that not only others will find it useful, but can also share their ideas for improvement. Additionally,
          who knows what ideas you will have to improve and add to the current features!
          We hope to be a part of a whole community of families and parents striving to protect their kids’
          personal data.</p>

              <h3><i>Thanks for reading!</i></h3>

          </div>
        {% include 'info/about/blockquote.html' with top=False %}
        </div>
      </div>
        <div class="relative pt-20 lg:mt-20 mx-auto grid grid-cols-1 lg:grid-cols-2 gap-16 md:p-6 sm:pt-6 max-w-sm lg:max-w-lg text-center">

          <div class="rounded-md shadow">
            <a href="{% url 'documentation/install' %}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-maincolor-600 hover:bg-maincolor-700">
              Install
            </a>
          </div>

          <div class="rounded-md shadow">
            <a href="{% url 'features/overview' %}" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-maincolor-600 bg-white hover:bg-gray-50">
              Learn more
            </a>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}