{% extends 'documentation/base_documentation_page.html' %}
{% block doc_class %}Info{% endblock %}
{% block doc_title %}Contribute{% endblock %}
{% block doc_paragraph %}
    Owlkins just hit v1.0 and we don't have a definitive set of rules or guidelines for helping out.
{% endblock %}
{% block doc_prose %}
<p>
    If you find something that needs to be fixed or given attention, feel free to raise an Issue on our repo.
    If you have a fix or feature submit a PR and we will take a look.
</p>
<p>
In general, areas that need improvement are:
<ul>
    <li>Testing
        <ul>
            <li>unit tests for the backend</li>
            <li>front-end tests using a tool like perhaps <a target="_blank" href="https://selenium-python.readthedocs.io/">Selenium</a></li>
        </ul>
    </li>
    <li>Improvements to the install process:
        <ul>
            <li>Installation script</li>
            <li>Automated Cloud configuration with a tool like <a target="_blank" href="https://www.terraform.io/">Terraform</a></li>
        </ul>
    </li>
    <li>Architecture changes:
        <ul>
            <li>Offload <code>ffmpeg</code> processing of videos to workers on other machines, be it other
            virtual machines or in the cloud such as
            <a target="_blank" href="https://serverlessrepo.aws.amazon.com/applications/arn:aws:serverlessrepo:us-east-1:145266761615:applications~ffmpeg-lambda-layer">AWS Lambda</a>
            </li>
        </ul>
    </li>
    <li>
        Other suggestions! This list can and will grow as more people get involved with Owlkins.
    </li>
</ul>
</p>
{% endblock %}