<div class="flex rounded-md">
    <pre class="flex-1"><code class="block">{{ snippet }}</code></pre>
    {% if not exclude_copy %}
    <div class="inline-flex items-center px-3 hover:text-maincolor-600">
        <button onclick="copyTextToClipboard(this);" style="min-width:41px">Copy</button>
    </div>
    {% endif %}
</div>