<li class="relative bg-white py-5 px-4 hover:bg-gray-50 focus-within:ring-2 focus-within:ring-inset focus-within:ring-maincolor-600">
    <a href="{{ url }}" class="block focus:outline-none" style="text-decoration:none">
        <div class="flex justify-between space-x-3">
            <div class="min-w-0 flex-1">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex-1 min-w-0">
                        <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-0 mb-0">
                            {{ title }}
                        </h2>
                    </div>
                </div>
            </div>
            <time class="hidden md:block flex-shrink-0 whitespace-nowrap text-sm text-gray-500 font-normal">
                Last Updated {{ last_updated }}
            </time>
        </div>
        <time class="md:hidden block flex-shrink-0 whitespace-nowrap text-sm text-gray-500 font-normal">
            Last Updated {{ last_updated }}
        </time>
        <div class="mt-1 mb-0">
            <p class="line-clamp-2 text-sm text-gray-600 font-normal">
                {{ subtitle }}
            </p>
        </div>
    </a>
</li>