{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Buy a domain (if you don't already have one)" %}
<p>Owlkins is meant to be installed on a machine you own or have paid to operate, which hosts a website that users
can visit. Part of this then is the domain name that you can share with your users which they can type into their web
browsers or get links to from your email digest.</p>
<p>If you are not familiar with buying a domain, there are several different providers such as
<a target="_blank" href="https://www.godaddy.com/">GoDaddy</a>, <a target="_blank" href="https://www.namecheap.com/">Namecheap</a>, or others.
Personally, as someone with a Gmail account, I've always found <a target="_blank" href="https://domains.google.com/">Google Domains</a>
the easiest and most straightforward to use.</p>
<p>If you choose <b>Google Domains</b>, the process looks like this:
<ol>
    <li>Navigate to the <a target="_blank" href="https://domains.google.com/registrar/search">Get a new domain</a> section on the left
        navigation bar (on desktop) or navbar at the top (on mobile></li>
    <li>Search for your perfect domain name! Hopefully you lucky and are able to find something that is straightfoward
    like <code>your-baby-name.com</code>, but there are endless combinations and other Top Level Domains (TLDs) such
    that you don't have to use a <b>.com</b> address. Just note that some TLDs cost more per year (like <b>.io</b>)
    than others.</li>
    <li>After you find the domain you love, follow through the checkout process to purchase the domain.</li>
    <li>Once purchased, you can now see the domain listed in the
        <a target="_blank" href="https://domains.google.com/registrar/">My domains</a> section.</li>
    <li>Click your domain from the list to go into the settings for this domain.</li>
    <li>The menu bar will now change to be specific to your domain, and an option <b>DNS</b> will appear.</li>
    <li>You will have to use the <b>DNS</b> section to configure your mail settings below as well as pointing your domain
    to your server.</li>
    <li>If you know your server's IP address, you can add it now on the <b>DNS</b> dashboard for your domain, where
    you can see a button <b>Manage custom records</b>.
        <ol>
            <li>Add a new row by clicking <b>Create new record</b> if needed.</li>
            <li>Leave the first input field <b>Host Name</b> blank if you want the site to be run at the root of the domain. </li>
            <li>The second input <b>Type</b> should be <code>A</code> for an IPv4 address (likely) or <code>AAAA</code> if
            your server is at an IPv6 address (less likely).</li>
            <li>Click <b>Save</b></li>
        </ol>
    </li>
    <li>Take the domain name and store it in the <code>BASE_URL</code> variable in your <code>config.py</code> file.</li>
</ol></p>
<p>If you are behind a residential connection, your IP address may change at a rate that it will be annoying
for you to come back to this form and manually update it after you notice your site goes "offline". Nowadays, it may
seem like your IP address changes that much, but the "right" answer in this scenario is to setup DDNS instead. One
reason I like to use Google Domains is a popular DDNS client <a target="_blank" href="https://github.com/ddclient/ddclient">DDCLIENT</a>
supports Google Domains.
    <ol>
        <li>To access DDNS on Google Domains, scroll to the very bottom of the <b>DNS</b> page and
            click <b>Show advance settings</b> to reveal the <b>Dynamic DNS</b> section</li>
        <li>Click the <b>Manage dynamic DNS</b> button.</li>
        <li>If needed, make a new row with <b>Create new record</b> and then similar to above leave <b>Hostname</b> blank
        for the root of the domain or fill in a subdomain, <b>Type</b> will be pre-filled as <code>A</code> for you, and
        <b>Data</b> will initially be essentially blank with a value such as <code>0.0.0.0</code></li>
        <li>Click <b>Save</b></li>
        <li>Now reveal your dynamic domains with <b>Your domain has Dynamic DNS set up</b> button</li>
        <li>Find the entry you just added and click <b>View Credentials</b></li>
        <li>Copy these credentials into your DDNS client, such as DDClient, which you can install on the same machine
        you are running Owlkins on.</li>
    </ol>
</p>
{% end_documentation_section %}