{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Setup video conversion daemon" %}
<p>While Owlkins can successfully run the <code>ffmpeg</code> video conversion and upload logic within the web server process
    itself for a couple of videos, it will start to "drop" videos if many are uploaded at once (such as 8 or more).
If you plan to upload videos regularly, I recommend you setup a daemon process to handle all video conversion tasks.</p>
<p>If you are following the recommendation to run Ubuntu, and assuming you're on a modern version, then
you're running <b>systemd</b>, and we will setup a <a target="_blank" href="https://wiki.archlinux.org/title/Systemd/Timers">systemd
timer</a> that will periodically launch the Owlkins Django management command <code>convert_videos</code>.</p>
<h4>Service file</h4>
<p>First we can create the <b>service</b> file which will contain instructions for running the command:
{% code_snippet %}sudo nano /etc/systemd/system/convert_videos.service{% endcode_snippet %}
with contents like the following (edit to point to your Owlkins installation path)
{% code_snippet %}# /etc/systemd/system/convert_videos.service
[Unit]
Description=Run frequently to convert any pending video uploads from the native format to a more universal MP4 format
Wants=convert_videos.timer
[Service]
Type=oneshot
User=OWLKINS_INSTALL_USER
#EnvironmentFile=/home/OWLKINS_INSTALL_USER/vault_envs
ExecStart=/home/OWLKINS_INSTALL_USER/owlkins/.venv/bin/python3 /home/OWLKINS_INSTALL_USER/owlkins/manage.py convert_all_pending_videos
WorkingDirectory=/home/OWLKINS_INSTALL_USER/owlkins
[Install]
WantedBy=multi-user.target
{% endcode_snippet %}
If you are using the (optional) Vault server for your secrets, you'll want to include the environments file
that contains the <code>VAULT_USER</code> and <code>VAULT_PASSWORD</code> parameters
(uncomment the line in the serivce file above):
{% code_snippet %}EnvironmentFile=/home/OWLKINS_INSTALL_USER/vault_envs{% endcode_snippet %}
</p>
<h4>Timer file</h4>
<p>Finally we will create the <b>timer</b> file which will instruct how often and when the <b>service</b> file runs.
Create the timer like this:
{% code_snippet %}sudo nano /etc/systemd/system/convert_videos.timer{% endcode_snippet %}
Now populate it with contents like this:
{% code_snippet %}# /etc/systemd/system/convert_videos.timer
[Unit]
Description=Run frequently to convert any pending video uploads from the native format to a more universal MP4 format
[Timer]
Unit=convert_videos.service
OnCalendar=*:0/5
[Install]
WantedBy=timers.target
{% endcode_snippet %}
Note that the <b>OnCalendar</b> parameter controls how often and when it runs. With the above, the asterisks indicate
that it will every five minutes.
</p>
<h4>Enable and start the timer</h4>
<p>Now that your timer is set up you can enable it such that your system will always run the timer even after
reboot with:
{% code_snippet %}sudo systemctl enable convert_videos.timer{% endcode_snippet %}
If you check the systemd timers, you should be able to see <b>convert_videos</b> now in the table:
{% code_snippet %}sudo systemctl list-timers --all{% endcode_snippet %}
The <b>NEXT</b> value in the <b>list-timers</b> table may not populate then until after the first run. If you want
to see this populate now you can start the service (though be prepared this will send an email if there are any
"new" photos or videos!)
{% code_snippet %}sudo systemctl start convert_videos{% endcode_snippet %}
Now if you invoke the <b>list-timers</b> command again there should be a <b>NEXT</b> value populated. If you ever have
issues with the digest not sending and need to see what went wrong you can check the status of the service via:
{% code_snippet %}sudo systemctl status convert_videos{% endcode_snippet %}
</p>
<p>Once you have verified that the daemon is properly running, change the line in your <code>config.py</code> to tell the
web worker processes that this service is now available:</p>
{% code_snippet %}'VIDEO_DAEMON_SET_UP': True,{% endcode_snippet %}
{% end_documentation_section %}