{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Install and setup Django" %}
<p>You should now be in the virtual environment named ".venv", check this by observing your current terminal line
    has <code>(.venv)</code> at the start on the far left, perhaps looking like:</p>
{% include 'code_snippet.html' with exclude_copy=True snippet='(.venv) you@your_machine:~/owlkins'%}
<p>Now you can use the python package installer "pip" to install the current version of all requirements as
identified in the requirements.txt file you pulled from the git repo.</p>
{% code_snippet %}pip install -r requirements.txt{% endcode_snippet %}
<p>There are two Owlkins text files you will have to edit to complete setup. To create the default version of the files
    copy the <code>config_defaults.py</code> and <code>secrets_defaults.py</code> to <code>config.py</code>
and <code>secrets.py</code>, respectively:</p>
{% code_snippet %}cp owlkins/config_defaults.py owlkins/config.py{% endcode_snippet %}
{% code_snippet %}cp owlkins/secrets_defaults.py owlkins/secrets.py{% endcode_snippet %}
<p> This will create two files: <code>owlkins/secrets.py</code> and <code>owlkins/config.py</code>.
<ul>
    <li>The <b>secrets</b> file should be used to
    store variables like API keys and the secret key for Django. </li>
    <li>The <b>config</b> file will need to be customized to include things like the name of your child that you want
    to display to users, and your own email that users should reply to on the daily digests.</li>
</ul></p>
<p>Next we will fill in a few variables in the <code>secrets.py</code> file.
<a target="_blank" href="https://humberto.io/blog/tldr-generate-django-secret-key/">Generate</a> a new Django secret
key with a command like the below and store the result in the <code>secrets.py</code> file.</p>
{% code_snippet %}python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'{% endcode_snippet %}

<p>Now, we have some things which we can add to our <code>secrets.py</code> file:
<ul>
    <li>Save this <b>secret key</b> as the value of the <code>SECRET_KEY</code> variable in your <code>secrets.py</code>
        file.
    </li>
    <li>At the same time, save the  database <b>user</b> and <b>password</b> as the <code>DB_USER</code> and
        <code>DB_PASSWORD</code> variables in the <code>secrets.py</code> file.
    </li>
    <li>If you followed the PostgreSQL install steps exactly, then your database will also be called the same as
        your <b>user</b>, and you can store this value in the <code>DB_NAME</code> variable in <code>secrets.py</code>
    </li>
    <li>Finally, you will have to customize the <code>DB_SERVER</code> variable in <code>secrets.py</code> to point
    to your PostgreSQL server. If you are running PostgreSQL on the same machine, you can leave this setting blank.</li>
</ul>
</p>
<p>Now you are ready to make the initial database migrations via the following command:</p>
{% code_snippet %}python manage.py migrate{% endcode_snippet %}
<p>If you see any issues or errors, check that the <code>secrets.py</code> file contains the correct values.</p>
<h4>Create "you" as a superuser</h4>
<p>Now that you created all the tables in the database that will allow Owlkins to store relational data, such as
information about photos and a link to their url, user information, and everything else other than files such
as the actual photos and videos themselves.</p>
<p>Your user table at this point exists but doesn't have anyone in it. To log into Owlkins and be able
to access the prompt to create other users, you'll have to create a user that has administrative privileges. You
can do this via another Django management command:
</p>
{% code_snippet %}python manage.py createsuperuser{% endcode_snippet %}
<p>You should set your email as the "username" and the Email Address field, since with Owlkins the frontend
login flow is email and password based and subsequent normal users won't be able to make a "username" that is
different from their email address. The workflow should look something like the following
</p>
{% code_snippet with exclude_copy=True %}(.venv) user@your-machine:~/owlkins$ python manage.py createsuperuser
Username (leave blank to use 'user'): YOUR_EMAIL
Email address: YOUR_EMAIL
Password:
Password (again):
Superuser created successfully.
{% endcode_snippet %}
<p>This is the email and password you will then use to log in to your Owlkins installation once up and running.
If you forget your password, you can change it with
<a target="_blank" href="https://docs.djangoproject.com/en/4.0/topics/auth/default/#:~:text=To%20change%20a%20user's%20password,password%20will%20be%20changed%20immediately.">another management command</a>:
</p>
{% code_snippet %}manage.py changepassword *email* {% endcode_snippet %}
<p>The preferred way to reset your own password and that of any other user though is the <i>Forgot Password?</i>
workflow on the website itself, though this will require email to be set up first (see step 8. below).</p>
<h4><code>config.py</code> file changes</h4>
<p>You're required to put <code>BASE_URL</code> to get the server working. If you have your domain now you can add it,
else this will also be discussed in section 6.
</p>
{% end_documentation_section %}