<div x-data="{ open: true }">
<h2 id="doc-step-{{ number }}" @click="open = ! open" style="cursor:pointer" class="document-header">
    {{ number }}{% if number %}. {% endif %}{{ title }}
</h2>
<div x-show="open" x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="opacity-0 scale-90"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="transition ease-in duration-300"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-90">
{{ prose }}
</div></div>
<hr>