{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Setup daily email digest" %}
<p>This step could be considered optional if you don't want an email digest sent out to your users, but the truth is,
a lot of your users will really appreciate the daily digest. I know some users that exclusively interact with the
site through the daily emails and may not know how to get to the site otherwise!</p>
<p>If you are following the recommendation to run Ubuntu, and assuming you're on a modern version, then
you're running <b>systemd</b>, and we will setup a <a target="_blank" href="https://wiki.archlinux.org/title/Systemd/Timers">systemd
timer</a> that will periodically send emails (we recommend once a day).</p>
<h4>Slice file</h4>
<p>First we will make the <b>slice</b> file which will determine how much of your resources are available to
the process.
{% code_snippet %}sudo nano /etc/systemd/system/daily_email_digest.slice{% endcode_snippet %}
The contents of the file should be something like this:
{% code_snippet %}# /etc/systemd/system/daily_email_digest.slice
[Unit]
Description=Limited resources Slice
DefaultDependencies=no
Before=slices.target
[Slice]
CPUQuota=50%
MemoryLimit=2G
{% endcode_snippet %}
</p>
<h4>Service file</h4>
<p>Next we can create the <b>service</b> file which will contain instructions for actually running the email:
{% code_snippet %}sudo nano /etc/systemd/system/daily_email_digest.service{% endcode_snippet %}
with contents like the following (edit to point to your Owlkins installation path)
{% code_snippet %}# /etc/systemd/system/daily_email_digest.service
[Unit]
Description=Run Daily Email Digest job for new photos
Wants=daily_email_digest.timer
[Service]
Type=oneshot
User=OWLKINS_INSTALL_USER
ExecStart=/home/OWLKINS_INSTALL_USER/owlkins/.venv/bin/python3 /home/OWLKINS_INSTALL_USER/owlkins/manage.py daily_email_digest
WorkingDirectory=/home/OWLKINS_INSTALL_USER/owlkins
Slice=daily_email_digest.slice
{% endcode_snippet %}
If you are using the (optional) Vault server for your secrets, you'll want to include the environments file
that contains the <code>VAULT_USER</code> and <code>VAULT_PASSWORD</code> parameters:
{% code_snippet %}EnvironmentFile=/home/OWLKINS_INSTALL_USER/vault_envs{% endcode_snippet %}
</p>
<h4>Timer file</h4>
<p>Finally we will create the <b>timer</b> file which will instruct how often and when the <b>service</b> file runs.
Create the timer like this:
{% code_snippet %}sudo nano /etc/systemd/system/daily_email_digest.timer{% endcode_snippet %}
Now populate it with contents like this:
{% code_snippet %}# /etc/systemd/system/daily_email_digest.timer
[Unit]
Description=Run Daily Email Digest for photos
#Requires=daily_email_digest.service
[Timer]
Unit=daily_email_digest.service
OnCalendar=*-*-* 13:00:00
[Install]
WantedBy=timers.target
{% endcode_snippet %}
Note that the <b>OnCalendar</b> parameter controls how often and when it runs. With the above, the asterisks indicate
that it will run on any day, and then the inclusion of a time value specifies it will run at a certain time. Since the
server is likely running on UTC, the above would be 13:00 UTC which is 8am Eastern time during the winter and 9am
during the summer. If you want to use a local time and avoid the daylight savings jump, you could specify a timezone
like the following:
{% code_snippet %}OnCalendar=*-*-* 08:00:00 America/Chicago{% endcode_snippet %}
Which here would then run at 9am Eastern time, 8am Central time, taking into account daylight savings time. To see
all available timezones on your system, you can check:
{% code_snippet %}timedatectl list-timezones{% endcode_snippet %}
</p>
<h4>Enable and start the timer</h4>
<p>Now that your timer is set up you can enable it such that your system will always run the timer even after
reboot with:
{% code_snippet %}sudo systemctl enable daily_email_digest.timer{% endcode_snippet %}
If you check the systemd timers, you should be able to see <b>daily_email_digest</b> now in the table:
{% code_snippet %}sudo systemctl list-timers{% endcode_snippet %}
The <b>NEXT</b> value in the <b>list-timers</b> table may not populate then until after the first run. If you want
to see this populate now you can start the service (though be prepared this will send an email if there are any
"new" photos or videos!)
{% code_snippet %}sudo systemctl start daily_email_digest{% endcode_snippet %}
Now if you invoke the <b>list-timers</b> command again there should be a <b>NEXT</b> value populated. If you ever have
issues with the digest not sending and need to see what went wrong you can check the status of the service via:
{% code_snippet %}sudo systemctl status daily_email_digest{% endcode_snippet %}
</p>
{% end_documentation_section %}