{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Clone git repo" %}
<p>Download, install and configure git on your machine. </p>
<p>Navigate to the location on your machine that you want a new folder to be made with the contents of the repo. We
recommend creating a new user whose sole purpose is to run owlkins, and then for example you can install here in that
    user's home directory.
</p>
<p>Once you are ready, you can clone the repo:</p>
{% include 'code_snippet.html' with snippet="git clone https://gitlab.com/owlkins/owlkins" only %}
<p>You will now have a directory <code>owlkins</code> on your local machine which you can change
    directory (<code class="inline">cd</code>) into.</p>
{% end_documentation_section %}