{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Install Gunicorn / Nginx" %}
<p>Now that we have Owlkins set up and a domain, we can set up the web server.</p>
<p>Setup the gunicorn service file</p>
{% code_snippet %}sudo nano /etc/systemd/system/gunicorn.service{% endcode_snippet %}
<p>... with the following contents</p>
{% code_snippet %}[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User={YOUR_UBUNTU_USER}
Group=www-data
WorkingDirectory=/home/{YOUR_UBUNTU_USER}/owlkins
ExecStart=/home/{YOUR_UBUNTU_USER}/owlkins/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          --timeout 240 \
          owlkins.wsgi:application

[Install]
WantedBy=multi-user.target{% endcode_snippet %}
        <p>Now create the socket file</p>
{% code_snippet %}sudo nano /etc/systemd/system/gunicorn.socket{% endcode_snippet %}
        <p>...with the following content</p>
        {% code_snippet %}[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock

[Install]
WantedBy=sockets.target{% endcode_snippet %}
        <p>Now, you can enable Gunicorn</p>
        {% code_snippet %}sudo systemctl start gunicorn.service
sudo systemctl enable gunicorn.service
sudo systemctl status gunicorn.service{% endcode_snippet %}
        <p>You should see that gunicorn is Running. Press <code>q</code> to exit out of the status of gunicorn.</p>
        <p>Next we can set up Nginx. First, create a site "owlkins"</p>
        {% code_snippet %}sudo nano /etc/nginx/sites-available/owlkins{% endcode_snippet %}
        <p>... and populate it with information for your domain that you want to host the site at. If you don't already
            have experience with Nginx or a working setup for your environment, you could check out the
            <a target="_blank" href="https://www.digitalocean.com/community/tools/nginx" target="_blank">NGINXConfig tool</a>
            hosted from DigitalOcean. In addition or in place, you can base your installation off the below example, your
        config may look like the following (replace <code>YOUR_DOMAIN_HERE</code> with your fully qualified domain name):</p>
{% include 'documentation/install/_nginx_site_settings.html' %}
        <p>Next you can enable the site by linking the file you just created to the "sites-enabled" directory. Note that
        you need to do the absolute path here, don't do a relative path based on your current location.</p>
{% code_snippet %}sudo ln -s /etc/nginx/sites-available/owlkins /etc/nginx/sites-enabled/{% endcode_snippet %}
        <p>Before moving forward, it is worthwhile to check your system wide <code>nginx.conf</code> file to potentially
        change the max upload size. This should be one of the first areas to look if a large file fails to upload.
        Invoke the following command to enter the <code>nginx.conf</code> file:
        {% code_snippet %}sudo nano /etc/nginx/nginx.conf{% endcode_snippet %}
        Then in this file check the <code>client_max_body_size</code> setting (or if not present, add anywhere
        under Basic Settings) and change to something larger:
        {% code_snippet %}client_max_body_size 5000M;{% endcode_snippet %}
        </p>
        <p>Next you can test your configuration to be sure that all is OK. If not, look over the last couple steps and
        see what needs to be fixed.</p>
        {% code_snippet %}sudo nginx -t{% endcode_snippet %}
        <p>Now you are ready to restart nginx before applying for a, SSL certificate</p>
        {% code_snippet %}sudo systemctl restart nginx{% endcode_snippet %}
        <p>Now apply for an SSL certificate from Lets Encrypt!</p>
        {% code_snippet %}sudo certbot --nginx -d {YOUR_DOMAIN}{% endcode_snippet %}
        <p>Follow the directions to setup the certificate, and optionally allow redirection from HTTP to HTTPS. If you
        use your default setup then you'll already have redirection. Now, test again and restart nginx and you'll get
        your first glimpse of Owlkins running on your domain!</p>
        {% code_snippet %}sudo nginx -t
sudo systemctl restart nginx{% endcode_snippet %}
{% end_documentation_section %}