{% load documentation_tags %}
{% documentation_section with title="Hardware specs" %}
<p>
    The preferred way to run Owlkins is in an Ubuntu virtual machine that has at least 2 cores and 4GB of RAM. You won't
    utilize these resources all the time so the resources can be shared. Running the web server and framework will take
    anywhere from 350MB to 600MB depending on how many photos you have.
</p>
<p> When a user uploads a video, Owlkins will convert it via an <code>ffmpeg</code> command which will
    utilize <code>max(N-1, 1)</code> available processors. During video conversion, RAM usage will depend on the
    properties of the video such as its length. If your system has a lower amount of RAM, make sure you have enough
    swap space to facilitate converting videos, and a bit of patience as well for the website during times of
    heavy swapping!
</p>
{% end_documentation_section %}