{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Memcached setup" %}
<p>Owlkins recommends using Memcached for the caching layer, but there are other Django caching solutions
    if you so choose. If you followed the instructions thus far, you will have called <code>sudo apt-get install</code>
    with <code>libmemcached-dev memcached libmemcached-tools</code>, meaning now you have Memcached installed and
    configured on your system. You should configure it further such that memcached listens on a socket instead of via
    TCP on a local port. First, open your memcache config file</p>
{% code_snippet %}sudo nano /etc/memcached.conf{% endcode_snippet %}
<p>Comment these lines</p>
{% code_snippet %}#-p 11211

#-l 127.0.0.1{% endcode_snippet %}
<p>add these lines</p>
{% code_snippet %}# Enablinb SASL
# -S

# Set unix socket which we put in the folder /var/run/memcached and made memcache user the owner
-s /var/run/memcached/memcached.sock

# set permissions for the memcached socket so memcache user and www-data group can execute
-a 0666

# The default maximum object size is 1MB. In memcached 1.4.2 and later, you can change the maximum si>
-I 10m{% endcode_snippet %}

<p>To allow these settings to take effect you can restart memcached</p>
{% code_snippet %}sudo systemctl restart memcached{% endcode_snippet %}
<p>Now your Django installation can use memcached.</p>
{% end_documentation_section %}