{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Setup PostgreSQL" %}
<p>Owlkins recommends using PostgreSQL, though Django has other alternatives, which I imagine would work "ok"
if you are willing to put up with a non- or less-tested configuration.</p>
<p>Enter the PostgreSQL console by switching to the <code>postgres</code> user and executing the command <code>psql</code>:</p>
{% code_snippet %}sudo -u postgres psql{% endcode_snippet %}
<p>Now you can create the database and the Django user. Come up with a <code>user</code> and <code>password</code>, substitute in the
below steps (without the curly braces), and execute all of these lines in the psql console.
</p>
<p>You will have to save the <code>user</code> and <code>password</code>in the <code>secrets.py</code> file noted in step 4 below.</p>
{% code_snippet %}CREATE DATABASE {user};
CREATE USER {user} WITH PASSWORD '{password}';
ALTER ROLE {user} SET client_encoding TO 'utf8';
ALTER ROLE {user} SET default_transaction_isolation TO 'read committed';
ALTER ROLE {user} SET timezone TO 'UTC';
GRANT ALL PRIVILEGES ON DATABASE {user} TO {user};
{% endcode_snippet %}
<p>To exit from the PostgreSQL prompt and return to your terminal, type <code>\q</code> and press enter.</p>
{% end_documentation_section %}