{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Install Prerequisites and create Python virtual environment (venv)" %}
<p>Even if the only thing you will run on this machine is Owlkins (for example if you rented a VM in the cloud or installed a new one on your machine), you'll want to make sure Owlkins runs in a virtual environment.</p>
<p>A Python virtual environment allows for the specific package version to be installed without risking conflicts with the python that comes with your operating system.</p>
{% include 'code_snippet.html' with snippet="sudo apt-get install nginx postgresql postgresql-contrib libpq-dev libjpeg-dev libffi-dev ffmpeg zlib1g-dev libmemcached-dev libimage-exiftool-perl gcc python3-dev build-essential memcached libmemcached-tools python3-venv" only %}
<p>Next, create the virtual environment</p>
{% include 'code_snippet.html' with snippet="python3 -m venv .venv" only %}
<p>Now you can enter the virtual environment</p>
{% code_snippet %}source .venv/bin/activate{% endcode_snippet %}
{% end_documentation_section %}