{% load code_tags %}
{% load documentation_tags %}
{% documentation_section with title="Test your configuration" %}
<p>Anytime there is a change to a file you will need to restart the <b>gunicorn</b> service to pick up the change.
For example, if you change a parameter in <code>config.py</code> or <code>secrets.py</code>, or download an update
from the git repo, you will need to invoke the following command:</p>
{% code_snippet %}sudo systemctl restart gunicorn{% endcode_snippet %}
</p>
<p>
If you want to test your <code>config.py</code> and <code>secrets.py</code> before moving to the whole stack,
you can execute the following from the root of your Owlkins installation (does not have to be within an activated
virtual environment):
{% code_snippet %}python3 test_config.py{% endcode_snippet %}
If all is good, you should see something like:
<pre><code>your_user@your_server:~/owlkins python3 test_config.py
CRITICAL:test_config:    config.py passes checks
CRITICAL:test_config:    secrets store passes checks
</code></pre>
If there are any errors or warnings, address those before proceeding.
</p>
<p>One helpful way to check if everything is running fine is to go into the Django shell. For this, you will need to be
in the virtual environment. From your Owlkins root, if you installed the virtual environment with the name
we suggested above <b>.venv</b>, you can enter the virtual environment like the following:
{% code_snippet %}source .venv/bin/activate{% endcode_snippet %}
Now again you should see something like the following in your shell:
<pre><code>(.venv) your_user@your_server:~/owlkins </code></pre>
At this point you can enter the Django management console with:
{% code_snippet %}python manage.py shell{% endcode_snippet %}
If all goes well you should see something like:
<pre><code>(.venv) your_user@your_server:~/owlkins python manage.py shell
Python 3.8.10 (default, Nov 26 2021, 20:14:08)
[GCC 9.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.
(InteractiveConsole)
>>>
</code></pre>
Once you are successfully in the console, you can exit by typing (note that <code>exit</code> is a function in the
Python console so you will have to have the parentheses):
{% code_snippet %}exit(){% endcode_snippet %}
If there are any warnings, then take note and remediate. One thing to note is that anytime there is a change
to the database schema, Django will need to perform migrations to edit or create tables in the PostgreSQL database.
Now that you have PostgreSQL set up, you can perform the migrations with the following Django management command:
{% code_snippet %}python manage.py migrate{% endcode_snippet %}
If run multiple times, the <code>migrate</code> command will only perform actions on the database if there are
any changes to be made, such as after a recent update.
</p>
<h4>After any update</h4>
<p>Therefore given potential database changes combined with python code changes, anytime an update is downloaded it
    would be safe to execute the following two commands to restart the server and apply any database migrations:
{% code_snippet %}python manage.py migrate
sudo systemctl restart gunicorn{% endcode_snippet %}
</p>
{% end_documentation_section %}