{% load documentation_tags %}
{% documentation_section with title="(Optional) Use a secrets store instead of `secrets.py`" %}
<p>If you already are using <a target="_blank" href="https://www.vaultproject.io/">Vault by Hashicorp</a> you can configure Owlkins
to initialize all secret keys from that instead of using the <code>secrets.py</code> file.</p>
<p>In <code>config.py</code>, set <code>VAULT_SEVER</code> to point to your API endpoint and then configure
the <code>VAULT_KV_STORE</code> and <code>VAULT_ENVS</code> variables.</p>
<p>For more information, see the comments in <code>config_defaults.py</code>.</p>
{% end_documentation_section %}