.typewrite {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
@keyframes typing {
  from {width: 0}
  to {width: 100%}
}
@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: orange;}
}