{% load static %}
  <div class="bg-white pb-8 sm:pb-12 lg:pb-12">
    <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
        <div>
          <div>
            <img class="mx-auto text-center"
              src="{% static 'images/logo/Artboard 192px.png' %}" alt="Workflow">
          </div>
          <div class="mt-5">
            <div class="mx-auto text-center">
              <a href="https://gitlab.com/owlkins/owlkins" class="inline-flex space-x-4">
                <span
                  class="rounded bg-maincolor-50 px-2.5 py-1 text-xs font-semibold text-maincolor-600 tracking-wide uppercase">
                  Latest Version
                </span>
                <span class="inline-flex items-center text-sm font-medium text-maincolor-600 space-x-1">
                  <span title="e07c3ba5">1.1</span>
                  <!-- Heroicon name: solid/chevron-right -->
                  <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                    aria-hidden="true">
                    <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd" />
                  </svg>
                </span>
              </a>
            </div>
            <div class="mt-6 sm:max-w-xl">
              <h1 class="text-2xl font-extrabold text-gray-900 tracking-tight xs:text-4xl sm:text-5xl" style="white-space:nowrap">
                <a class="typewrite" data-period="2000" data-type='[ "Host", "Control", "Protect" ]'><span
                    class="wrap"></span></a> your baby's data
              </h1>
              <p class="mt-6 text-xl text-gray-500">
                {% include 'blurbs/headline.html' %}
              </p>
            </div>
            <div class="mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
              <div class="mt-8 flex justify-center">
                <div class="inline-flex rounded-md shadow">
                  <a href="{% url 'documentation/install' %}"
                    class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-maincolor-600 hover:bg-maincolor-700">
                    Get started
                  </a>
                </div>
                <div class="ml-3 inline-flex">
                  <a style="cursor:pointer;"
                    onclick="document.querySelector('#learn_more').scrollIntoView({behavior: 'smooth', alignTo: 'start',})"
                    class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-maincolor-700 bg-maincolor-100 hover:bg-maincolor-200">
                    Learn more
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
        <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <div class="hidden sm:block">
            <div class="absolute inset-y-0 left-1/2 w-screen bg-gray-50 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full">
            </div>
            <svg class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" width="404" height="392" fill="none"
              viewBox="0 0 404 392">
              <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                  patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
            </svg>
          </div>
          <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
            <img class="w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none"
              src="{% static 'images/screenshots/december_screenshot.jpeg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>