{% load static %}
<div class="mt-12 relative text-base max-w-prose mx-auto lg:mt-0 lg:max-w-none {% if top %}hidden lg:block{% else %}lg:hidden block{% endif %}">
    <svg class="absolute top-0 right-0 -mt-20 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
      <defs>
        <pattern id="bedc54bc-7371-44a2-a2bc-dc68d819ae60" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
        </pattern>
      </defs>
      <rect width="404" height="384" fill="url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)" />
    </svg>
    <blockquote class="relative bg-white rounded-lg shadow-lg p-0">
      <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
        <img src="{% static 'images/logo/Artboard 192px.png' %}" alt="Owlkins" class="h-8">
        <div class="relative text-lg text-gray-700 font-medium mt-8">
          <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
            <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
          </svg>
          <p class="relative">{% include 'blurbs/when_youre_new_parent.html' %}</p>
        </div>
      </div>
      <cite class="relative flex items-center sm:items-start bg-maincolor-600 rounded-b-lg not-italic py-5 px-6 sm:py-5 sm:pl-12 sm:pr-10 sm:mt-10">
        <div class="relative rounded-full border-2 border-white sm:absolute sm:top-0 sm:transform sm:-translate-y-1/2">
          <img class="m-0 w-20 sm:h-20 rounded-full bg-maincolor-300" src="{% include 'people/austin_erna.html' %}" alt="">
        </div>
        <span class="relative ml-4 text-maincolor-300 font-semibold leading-6 sm:ml-24 sm:pl-1">
          <span class="text-white font-semibold sm:inline">Austin & Erna</span>
            <span class="sm:inline">Owlkins developers & parents</span>
        </span>
      </cite>
    </blockquote>
</div>