<a href="{% url 'documentation/overview' %}" class="{{ class }}">Documentation</a>
<a href="{% url 'info/about' %}" class="{{ class }}">About</a>
<a href="{% url 'features/overview' %}" class="{{ class }}">Features</a>