<!DOCTYPE html>
<html  class="h-full" lang="en">
<head>
    {% include 'base_head.html' %}
</head>
<body class="h-full">
<div class="bg-white min-h-full px-4 py-16 sm:px-6 sm:py-24 md:grid md:place-items-center lg:px-8">
  <div class="max-w-max mx-auto">
    <main class="sm:flex">
      <p class="text-4xl font-extrabold text-maincolor-600 sm:text-5xl">404</p>
      <div class="sm:ml-6">
        <div class="sm:border-l sm:border-gray-200 sm:pl-6">
          <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight sm:text-5xl">Page not found</h1>
          <p class="mt-1 text-base text-gray-500">Please check the URL in the address bar and try again.</p>
        </div>
        <div class="mt-10 flex space-x-3 sm:border-l sm:border-transparent sm:pl-6">
          <a href="javascript:history.back()" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-maincolor-600 hover:bg-maincolor-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-maincolor-500">Go back</a>
          <a href="{% url 'index' %}" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-maincolor-700 bg-maincolor-100 hover:bg-maincolor-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-maincolor-500">
            Go home
          </a>
        </div>
      </div>
    </main>
  </div>
</div>
{% include 'footer.html' %}
</body>
</html>