{% load static %}
<!doctype html>
<html>
<head>
  {% include 'base_head.html' %}
  {% block extra_head %}{% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block footer %}
  {% include 'footer.html' %}
{% endblock %}
</body>
</html>