{% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="{% include 'blurbs/headline.html' %}"/>
  <link rel="canonical" href="https://owlkins.com" />
  <title>Owlkins: {% include 'blurbs/headline.html' %}</title>
  <meta name="author" content="Owlkins">
  <meta name="keywords" content="baby,feeding,pooping,sleeping,photos,sharing,family,registry">
  <!-- Facebook, Instagram -->
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Owlkins: {% include 'blurbs/headline.html' %}" />
  <meta property="og:description" content="{% include 'blurbs/when_youre_new_parent.html' %}" />
  <meta property="og:url" content="https://owlkins.com" />
  <meta property="og:site_name" content="Owlkins" />
  <meta property="og:image" content="{% static 'images/logo/Artboard 192px.png' %}"/>
  <meta property="og:image:secure_url" content="{% static 'images/logo/Artboard 192px.png' %}"/>
  <!--- Twitter --->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{% include 'blurbs/when_youre_new_parent.html' %}" />
  <meta name="twitter:title" content="Owlkins: {% include 'blurbs/headline.html' %}" />
  <meta name="twitter:site" content="@OwlkinsSite" />
  <meta name="twitter:image" content="{% static 'images/logo/Artboard 192px.png' %}" />
  <meta name="twitter:image:alt" content="Owlkins">
  <meta name="twitter:creator" content="@OwlkinsSite" />
  <!-- Google+ -->
  <meta itemprop="name" content="Owlkins: S{% include 'blurbs/headline.html' %}">
  <meta itemprop="description" content="{% include 'blurbs/when_youre_new_parent.html' %}">
  <meta itemprop="image" content="{% static 'images/logo/Artboard 192px.png' %}">

  <link rel="icon" type="image/x-icon" href="https://static.owlkins.com/favicon.ico" />
  <link href="{% static 'output.css' %}?v=2" rel="stylesheet">
  <link rel="stylesheet" href="https://d3bhhvnudv92uj.cloudfront.net/inter/inter.css">
