<!DOCTYPE html>
<html  class="h-full" lang="en">
<head>
    {% include 'base_head.html' %}
</head>
<body class="h-full">
<div class="relative overflow-hidden">

  <main>
      {% include 'navbar.html' %}
    <div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="lg:grid lg:grid-cols-2 lg:gap-8">
          <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
            <div class="lg:py-24">
              <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-white sm:mt-5 sm:text-6xl lg:mt-6 xl:text-6xl">
                <span class="block text-maincolor-400">Coming soon</span>
                <span class="block">to Owlkins</span>
              </h1>
              <p class="mt-3 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                  <span class="text-maincolor-400">{{ template|capfirst }}</span> isn't available yet at Owlkins
              </p>
              <div class="mt-10 sm:mt-12">
                  {% comment %}
                <form action="#" class="sm:max-w-xl sm:mx-auto lg:mx-0">
                  <div class="sm:flex">
                    <div class="min-w-0 flex-1">
                      <label for="email" class="sr-only">Email address</label>
                      <input id="email" type="email" placeholder="Enter your email" class="block w-full px-4 py-3 rounded-md border-0 text-base text-gray-900 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-maincolor-300 focus:ring-offset-gray-900">
                    </div>
                    <div class="mt-3 sm:mt-0 sm:ml-3">
                      <button type="submit" class="block w-full py-3 px-4 rounded-md shadow bg-maincolor-500 text-white font-medium hover:bg-maincolor-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-maincolor-300 focus:ring-offset-gray-900">Get updates</button>
                    </div>
                  </div>
                  <p class="mt-3 text-sm text-gray-300 sm:mt-4">Enter your address if you'd like to receive an email when this is ready.</p>
                </form>
                {% endcomment %}
              </div>
            </div>
          </div>
          <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
            <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0">
              <!-- Illustration taken from Lucid Illustrations: https://lucid.pixsellz.io/ -->
              <img class="w-full lg:absolute lg:inset-y-0 lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/cloud-illustration-indigo-400.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
{% include 'footer.html' %}
    <!-- More main page content here... -->
  </main>
</div>
</body>
</html>