{% load static %}
  <footer class="bg-gray-800" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="xl:grid xl:grid-cols-3 xl:gap-8">

        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
          <div class="space-y-8 xl:col-span-1">
            <a href="{% url 'index' %}">
              <img class="" src="{% static 'images/logo/Artboard 87px_inverted.png' %}" alt="Owlkins">
            </a>
            <p class="text-gray-500 text-base pb-6">
              {% include 'slogan.html' %}
            </p>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-8 xl:col-span-2">
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                  <a href="{% url 'features/overview' %}">Features</a>
              </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="{% url 'features/registry' %}" class="text-base text-gray-300 hover:text-white">
                    Registry
                  </a>
                </li>

                <li>
                  <a href="{% url 'features/photos' %}" class="text-base text-gray-300 hover:text-white">
                    Photos
                  </a>
                </li>

                <li>
                  <a href="{% url 'features/data' %}" class="text-base text-gray-300 hover:text-white">
                    Data Dashboard
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                Support
              </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="{% url 'support/pricing' %}" class="text-base text-gray-300 hover:text-white">
                    Pricing
                  </a>
                </li>

                <li>
                  <a href="{% url 'documentation/overview' %}" class="text-base text-gray-300 hover:text-white">
                    Documentation
                  </a>
                </li>

                <li>
                  <a href="{% url 'support/forum' %}" class="text-base text-gray-300 hover:text-white">
                    Forum
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="md:grid md:grid-cols-2 md:gap-8">
            <div>
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                Info
              </h3>
              <ul role="list" class="mt-4 space-y-4">
                <li>
                  <a href="{% url 'info/about' %}" class="text-base text-gray-300 hover:text-white">
                    About
                  </a>
                </li>

                <li>
                  <a href="{% url 'info/blog' %}" class="text-base text-gray-300 hover:text-white">
                    Blog
                  </a>
                </li>

                <li>
                  <a href="{% url 'info/contribute' %}" class="text-base text-gray-300 hover:text-white">
                    Contribute
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-12 md:mt-0">
              <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                Legal
              </h3>
              <ul role="list" class="mt-4 space-y-4">

                <li>
                  <a href="{% url 'legal/privacy' %}" class="text-base text-gray-300 hover:text-white">
                    Privacy
                  </a>
                </li>

                <li>
                  <a href="{% url 'legal/terms' %}" class="text-base text-gray-300 hover:text-white">
                    Terms
                  </a>
                </li>

                <li>
                  <a href="{% url 'legal/license' %}" class="text-base text-gray-300 hover:text-white">
                    License
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
      <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
        <div class="flex space-x-6 md:order-2">

          <a target="_blank" href="https://twitter.com/OwlkinsSite" class="text-gray-400 hover:text-gray-300">
            <span class="sr-only">Twitter</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path
                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
            </svg>
          </a>

          <a target="_blank" href="https://gitlab.com/owlkins/owlkins" class="text-gray-400 hover:text-gray-300">
            <span class="sr-only">Gitlab</span>
            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 512 512" aria-hidden="true">
              <path fill="currentColor" fill-rule="evenodd"
                d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"
                clip-rule="evenodd" />
            </svg>
          </a>
        </div>
        <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
          &copy; 2024 Owlkins Contributors. All rights reserved.
        </p>
      </div>
    </div>
  </footer>