{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <style>{% include 'index/index.css' %}</style>
    <script>{% include 'index/index.js' %}</script>
{% endblock %}
{% block body %}
    {% include 'navbar.html' %}
    {% include 'index/top_main_image.html' %}
    {% include 'index/features.html' %}
    {% include 'index/contribute.html' %}
{% endblock %}