{% extends 'base.html' %}
{% block body %}
    {% include 'navbar.html' %}
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="pb-16 xl:flex xl:items-center xl:justify-between">
      <div>
        <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
          <span class="text-gray-900">Everything you need for </span>
          <span class="text-maincolor-600">Free</span>
        </h1>
        <p class="mt-5 text-xl text-gray-500">Includes every feature we offer and unlimited users.</p>
      </div>
      <a href="https://gitlab.com/owlkins/owlkins" class="mt-8 w-full bg-maincolor-600 border border-transparent px-5 py-3 inline-flex items-center justify-center text-base font-medium rounded-md text-white hover:bg-maincolor-700 sm:mt-10 sm:w-auto xl:mt-0">Get started today</a>
    </div>
    <div class="border-t border-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
      <div>
        <h2 class="text-base font-semibold text-maincolor-600 tracking-wide uppercase">Everything you need</h2>
        <p class="mt-2 text-3xl font-extrabold text-gray-900">All-in-one platform</p>
        <p class="mt-4 text-lg text-gray-500">
            We made this page just so that everyone is clear that we don't charge for using Owlkins. This is an open
            source project that you can run on your own hardware.
        </p>
        <p class="mt-4 text-lg text-gray-500">
            Of course, the cost of procuring and operating your own hardware is some non-zero cost but that is
            outside the scope of the Owlkins software itself!
        </p>
      </div>
      <div class="mt-4 sm:mt-8 md:mt-10 md:grid md:grid-cols-2 md:gap-x-8 xl:mt-0 xl:col-span-2">
        <ul role="list" class="divide-y divide-gray-200">
          <li class="py-4 flex md:py-0 md:pb-4">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Built-in Security</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Photo Feature</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Registry Feature</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Data Feature</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Web based</span>
          </li>
        </ul>
        <ul role="list" class="border-t border-gray-200 divide-y divide-gray-200 md:border-t-0">
          <li class="py-4 flex md:border-t-0 md:py-0 md:pb-4">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Responsive layout</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Use with S3-compatible storage</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Email digests</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Trending graphs</span>
          </li>

          <li class="py-4 flex">
            <!-- Heroicon name: outline/check -->
            <svg class="flex-shrink-0 h-6 w-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <span class="ml-3 text-base text-gray-500">Pretty fast</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}