{% extends 'base.html' %}
{% block body %}
    {% include 'navbar.html' %}
<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="pb-16 xl:flex xl:items-center xl:justify-between">
      <div>
        <h1 class="text-4xl font-extrabold sm:text-5xl sm:tracking-tight">
          <span class="text-gray-900">Sample password form for </span>
          <span class="text-maincolor-600">Chrome</span>
        </h1>
        <p class="mt-5 text-xl text-gray-500">For when you need to generate a new password but Chrome isnt cooperating.</p>
      </div>
    </div>
    <div class="border-t border-gray-200 pt-16 xl:grid xl:grid-cols-3 xl:gap-x-8">
      <div>
        <h2 class="text-base font-semibold text-maincolor-600 tracking-wide uppercase">This form goes nowhere</h2>
        <p class="mt-2 text-3xl font-extrabold text-gray-900">Sample form</p>
        <p class="mt-4 text-lg text-gray-500">
            This is a static site so you can't submit this form. Like, there's no button sure, but even if you manage
            to POST it you will get rejected since this site only accepts GET and HEAD. Just use it to generate a
            password locally by right-clicking and "Suggest Password" in Chrome, for you to paste into a terminal
            field or elsewhere such as Chrome itself!
        </p>
      </div>
      <div class="mt-4 sm:mt-8 md:mt-10 md:gap-x-8 xl:mt-0 xl:col-span-2 lg:ml-10">
        <form class="space-y-8 divide-y divide-gray-200">
  <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
    <div>

    <div class="pt-8 space-y-6 sm:pt-10 sm:space-y-5">
      <div class="space-y-6 sm:space-y-5">
          <section>
            <label for="email" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Email</label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <input class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                 id="email" name="email" type="email" placeholder=" " autocomplete="username" required>
            </div>
          </section>

          <section>
            <label for="current-password" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">Password</label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
                <input class="max-w-lg block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                   id="current-password" name="current-password" type="password" autocomplete="current-password"
                   aria-describedby="password-constraints" required>
            </div>
          </section>
        </div></div></div></div>

        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}