{% extends 'documentation/base_documentation_page.html' %}
{% block doc_class %}Docs{% endblock %}
{% block doc_title %}What types of emails Owlkins sends{% endblock %}
{% block doc_paragraph %}
{% include 'blurbs/headline.html' %}
{% endblock %}
{% block doc_prose %}
    <p>
    The user can install Owlkins on their own hardware and point it to a custom domain. This then serves as a personal
    website to help track feeding, sleep, and pooping for their newborn baby, as well as to share photos with family
    members.
    </p>
    <p>
    Users use S3 and Cloudfront to host store / host the images, and SES for a daily email digest that alerts family
    to any new photos.  SES is also used to send password reset emails and initial account creation tokens to
    any users.
    </p>
    <p>
    The email list is personal friends and family only and is added manually by a site administrator.  Emails are sent
    out via a standard template which includes an unsubscribe link at the bottom. When anyone unsubscribes, such as
    from the daily digest, then they will no longer get the digest (unless they reach out to us to remove them from
    the unsubscribed status).
    </p>
{% endblock %}