{% extends 'documentation/base_documentation_page.html' %}
{% block doc_class %}Docs{% endblock %}
{% block doc_title %}Changelog{% endblock %}
{% block doc_paragraph %}
    Steps to get you up and running on your own VM. Owlkins is not the easier nor the hardest
    open source self-hosted service you could run, but we hope we have everything covered here.
{% endblock %}
{% block doc_prose %}
<hr>

<div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1">
        <div class="md:flex md:items-center md:justify-between">
            <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-0 mb-0">
                    <a href="https://gitlab.com/owlkins/owlkins/-/commit/a566d9d4878d913c6bfb857196edf520bea88d91">1.0.1</a>
                </h2>
            </div>
        </div>
    </div>
    <time class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500 font-normal">
        2022-02-27
    </time>
</div>
<p>Four issues fixed:
    <ul>
        <li>Installation issues in certain scenarios (<a href="https://gitlab.com/owlkins/owlkins/-/commit/d9f0c663399441e165613d70f9be3078596ba725">d9f0c663</a> and <a href="https://gitlab.com/owlkins/owlkins/-/commit/8e76084264a934326bb0480c850785d164c3e4ae">8e760842</a>)</li>
        <li>Videos double-rotated for some iOS cases (<a href="https://gitlab.com/owlkins/owlkins/-/commit/1dfa14b45183dd551deb189cad8382840b89ac7d">1dfa14b4</a>)</li>
        <li>Incorrect timezone offset on "created_time" in some videos (<a href="https://gitlab.com/owlkins/owlkins/-/commit/b1d6bd5169dab6447b80649013830c071efa516b">b1d6bd51</a>)</li>
        <li>Missing navbar and footer on "no trending data" template (<a href="https://gitlab.com/owlkins/owlkins/-/commit/f642aeda9e5e5694ef0f0d8ce7cbe477daadecea">f642aeda</a>)</li>
    </ul>
</p>
<hr>
<div class="flex justify-between space-x-3">
    <div class="min-w-0 flex-1">
        <div class="md:flex md:items-center md:justify-between">
            <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate mt-0 mb-0">
                    <a href="https://gitlab.com/owlkins/owlkins/-/commit/4c8a811c02c5784ac3ad199589dd02a8dfb5f270">1.0</a>
                </h2>
            </div>
        </div>
    </div>
    <time class="flex-shrink-0 whitespace-nowrap text-sm text-gray-500 font-normal">
        2022-02-08
    </time>
</div>
<p>We launched our first public version!</p>
{% endblock %}