{% extends 'documentation/base_documentation_page.html' %}
{% block doc_class %}Docs{% endblock %}
{% block doc_title %}Install{% endblock %}
{% block doc_paragraph %}
    Steps to get you up and running on your own VM. Owlkins is not the easiest nor the hardest
    open source self-hosted service you could run, but there are a lot of steps. We hope we have everything covered here.
  </p>
  <p class="mt-8 text-lg text-gray-500 leading-8 text-center">
    Last updated 2024-06-04 <br><small>(added section 13 on <code>convert_videos</code>)</small>
{% endblock %}
{% block doc_prose %}
<div class="relative mx-auto grid grid-cols-1 lg:grid-cols-1 gap-16 md:p-6 sm:pt-6 max-w-sm lg:max-w-lg text-center">
  <div class="rounded-md shadow">
    <button onclick="Array.from(document.getElementsByClassName('document-header')).forEach((e)=>{e.click()});"
            class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-maincolor-600 hover:bg-maincolor-700">
      Toggle sections
    </button>
  </div>
</div>
    {% include 'documentation/install/hardware_specs.html' %}
    {% include 'documentation/install/git.html'                  with number=1 %}
    {% include 'documentation/install/prerequisites.html'        with number=2 %}
    {% include 'documentation/install/postgresql.html'           with number=3 %}
    {% include 'documentation/install/django.html'               with number=4 %}
    {% include 'documentation/install/memcached.html'            with number=5 %}
    {% include 'documentation/install/buy_a_domain.html'         with number=6 %}
    {% include 'documentation/install/gunicorn_and_nginx.html'   with number=7 %}
    {% include 'documentation/install/smtp.html'                 with number=8 %}
    {% include 'documentation/install/s3_and_cloudfront.html'    with number=9 %}
    {% include 'documentation/install/vault.html'                with number=10 %}
    {% include 'documentation/install/test_configuration.html'   with number=11 %}
    {% include 'documentation/install/email_digest.html'         with number=12 %}
    {% include 'documentation/install/convert_videos.html'         with number=13 %}
    <h2 id="doc-step-end">The End</h2>
    <p>If you've made it this far, then that's just great. Thanks for being a part of the Owlkins community!</p>
{% endblock %}