{% extends 'base.html' %}
{% load code_tags %}
{% load static %}
{% block body %}
    {% include 'navbar.html' %}
<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
      <img class="h-56 w-full object-cover lg:absolute lg:h-full"
           src="{% static 'images/screenshots/code_screenshot.jpeg' %}"
           alt="A screenshot of Python code">
    </div>
  </div>
  <div class="relative pt-12 pb-16 px-4 sm:pt-16 sm:px-6 lg:px-8 lg:max-w-7xl lg:mx-auto lg:grid lg:grid-cols-2">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="text-base max-w-prose mx-auto lg:max-w-lg lg:ml-auto lg:mr-0" style="min-height:630px">
        <h2 class="leading-6 text-maincolor-600 font-semibold tracking-wide uppercase">Overview</h2>
        <h3 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">Our Documentation</h3>
        <p class="mt-8 text-lg text-gray-500">Learn more about how we made Owlkins and how it can work for you.</p>
        <div class="mt-5 prose prose-maincolor text-gray-500">
            <ul role="list" class="divide-y divide-gray-200 pl-0" style="list-style: none;">
                {% url 'documentation/install' as the_url %}
                {% include 'documentation/overview/overview_list_tile.html' with title='Install' last_updated='2024-06-04' url=the_url subtitle='Steps to get you up and running on your own VM.'%}

                {% url 'documentation/architecture' as the_url %}
                {% include 'documentation/overview/overview_list_tile.html' with title='Architecture' last_updated='2022-02-08' url=the_url subtitle='Django, PostgreSQL, Bootstrap & random JS...' %}

                {% url 'documentation/changelog' as the_url %}
                {% include 'documentation/overview/overview_list_tile.html' with title='Changelog' last_updated='2022-02-27' url=the_url subtitle='Check what changed before (or after) you update.' %}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}